<!DOCTYPE html>
{% extends 'store/base.html' %}

{% load static %}
{%load crispy_forms_tags %}

{% block title_block %}
    Homepage
{% endblock %}


{% block content %}
<head>
  <div>
  <form enctype="multipart/form-data" action="/add_product/" method="post">
    {% csrf_token %}
    <h5>Ready to sell your items?</h5>
    {% if user.is_authenticated %}

      <input type="submit" value="YES">
    {% else %}
    <h5>You'll need to create an account or login first!</h5><br />
    <a class = "box-element"href="{% url 'login' %}">Login &nbsp&nbsp&nbsp</a>
    <a class = "box-element"href="{% url 'register' %}">Create an account</a><br /><br />
    {% endif %}
  </form>
</div>
</head>
    <div class="row">
		{% for product in products %}
			<div class="col-lg-4">
				<div class="box-element product">
					<h6><strong>{{product.name}}  {{order.name}}</strong></h6>
          <img class = 'thumbnail' src="{{MEDIA_URL}}{{product.product_image}}" width = '100px'/>
					<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
					<h4 style="display: inline-block; float: right"><strong>£{{product.price}}</strong></h4>
				</div>
			</div>
		{% endfor %}




  </div>
{% endblock content %}
